

.section{
    background-image: linear-gradient(to bottom, var(--cor06) , black 100% );
    height: 80vh;
    position: relative;
}



.section-text{
    color: white;
    font-size: 1.4em;
}

strong{
    color: var(--cor04);
    
}

.section-circle{
    display: flex;    
    background-color: var(--cor07);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    
    
}

.section-circle div{
    display: flex;
    justify-content: center;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: var(--cor07);
    margin: auto;
    padding: 30px;
    border: 1px solid black;
    
}

.section-circle span{    
    margin: auto;
    color: white;
    font-size: 1.4em;

}

