.button-cadastro{
    background: #090835;
    min-height: 300px; 
    border-radius: 20px;
    /* box-shadow: 10px red; */

}

.button-cad{
    display: flex;
    align-items: center;
    justify-content: center;
}



.link{
    color: white;
    text-decoration: none;
}

.link:hover .button-cadastro{
    transform: scale(1.07);
    transition: all 0.3s ease;
    color: white;
}

.link:hover{
    color: white;
}





.vh-forms{
    height: 100vh;
}

.vh-forms h3{
    font-size: 3.0em;
}
.vh-forms h4 {
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}


@media only screen and (max-width: 768px) {
    .button-cadastro{
        background: #090835;
        min-height: 160px; 
        border-radius: 20px;
        /* box-shadow: 10px red; */
    }

    .button-cadastro img{
        width: 100px;
    }

    .vh-forms h3{
        font-size: 2.5em;
    }
    .vh-forms h4 {
        font-size: 1.4em;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .link:hover .button-cadastro{
        transform: scale(1.0);
        transition: all 0.3s ease;
        color: white;
    }

}



