/* .bootcamp-bg {
    background-color: var(--bgcolor);
    height: 100vh;
}

.bootcamp {
    background-color: var(--bgcolor);
} */


.bootcamps-andamento{
    height: 100vh;
}

.bootcamps-andamento a{
 text-decoration: none;
 display: flex;
 transition: background-color 0.8s ease, color 0.5s ease;
}

.bootcamp p {
    text-align: center;     
}

.bootcamp h4 {
    text-align: center;     
}

.pamonha{
    background-color: red;
    height: 100vh;
}
