.bootcamp-bg {
    background-color: var(--bgcolor);
    height: 100vh;
}

.bootcamp {
    background-color: var(--bgcolor);
}

.bootcamp p {
    text-align: center;     
}

.bootcamp h4 {
    text-align: center;     
}
