.vaga-box{
    background-color: var(--bgcolor2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vaga-box button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}