@keyframes showsSidebar{
    from{
        opacity: 0;
        width: 0;
    }to{
        opacity: 1;
        width: 200px ;
    }
}

.hiden-side-bar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.171);
    z-index: 10;

    animation-duration: 0.6s;
    animation-name: showsSidebar ;
    
    
}

.hiden-side-bar .side-bar-nav2{
    background-color: var(--cor01);
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-between ;
    
    flex-direction: column;

    
    border-radius: 0 15px 15px 0;
    
}

.side-bar-header{
    padding-top: 0.5em;
    margin: 0 auto;
    
}

.side-bar-nav2 ul{
    list-style: none;
    padding: 0;
    margin-left: 20px;
    
}

.side-bar-nav2 a{
    color: white;
    text-decoration: none;
}

.side-bar-nav2 a:hover{
    color: white;
}

.side-bar-nav2 ul li:hover{
    font-weight: bold;
}


