/* body{
    background-color: #29299e;
    
} */

.chat-mensagem{
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.header-page a{
    text-decoration: none;
    display: flex;
    transition: background-color 0.8s ease, color 0.5s ease;
}

.card {
    color: #139257;
    background: #34343E;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.input-group {
    color: white;
    font-size: 20px;
    justify-content: space-between;
    cursor: pointer;
}

.send{
    color: blue;
    background-color: #34343E;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.clip{
    color: white;
    background-color: #34343E;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-around;
    cursor: pointer;
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    /* z-index: 7; */
    background-color: #202024;
    border-radius: 6px;
}

.chat-app .chat {
    margin-left: 280px;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
    border-bottom: 2px solid black;
}

.people-list .chat-list li:hover {
    background: #1e52b9;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #141923;
    opacity: 90%;
}

.people-list .chat-list li .name {
    font-size: 17px;
    color: white;
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px;
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #1a62cf;
    background-color: #34343E;
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    color: #ffffff;
}

.chat .chat-history {
    padding: 20px;
    background-color: #34343E;
    display: flex;
    overflow-y: scroll;
}

.chat .chat-history ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 100%;
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px;
    width: 50%;
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}
.clearfix-my{
    align-self: flex-end;
}


.clearfix-other{
    align-self: flex-start;
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
}

.chat .chat-history .message-data.other-message {
    color: #000000;
    display: flex;
    flex-direction: row;
    position: relative;
}
.chat .chat-history .message-data.my-message{
    display: flex;
    flex-direction: row;
    color: #8d2424;
}
.chat .chat-history .message {
    color: #000000;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: flex;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #C4C4C4;
    align-self: center;
}



.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #2034a5;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #C4C4C4;
    display: flex;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #2034a5;
    left: 97%;
}

.chat .chat-message .clearfix{
    padding: 10px;
    color: #34343E;
    background-color: #34343E;
    
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: inline-start;
}
.form-control{
    border-radius: 4px;
    background-color: #34343E;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: hidden;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: hidden
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 450px;
        overflow-x: hidden
    }
    .chat-app .chat-history {
        height: 420px;
        overflow-x: hidden
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: hidden
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: hidden
    }
}