.section-perfil{
    background-color: var(--bgcolor) ;
    border-radius: 14px;
    
}

.section-perfil > .card-body{
    min-height: 100px;
}

.card-icons{
    background-color: red;
    border-radius: 100%;
    width: 125px;
    height:95px;
    padding: 5px;
}

.card-footer > h3{
    color: var(--cor03);
    cursor: pointer;
}

.perfil-icons{
    font-size: 1.2em;
}

