.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url("../../../src/assets/image/background.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    color: white;
}

.perfil img{
    border-radius: 50%;
    height: 160px;
    border: 4px solid white;
}

.alterar-modo-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    left: 260px;
    top: -135px;
    margin: 0px;
    transition: background-color 0.8s ease, color 0.5s ease, transform 0.9s ease, box-shadow 0.95s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
    
}

.alterar-modo-button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.alterar-modo-button{
    font-size: 1.6em;
}


.section-perfil{
    border-radius: 14px;
    transition: background-color 0.8s ease, color 0.5s ease
    
}


.section-perfil ul svg{
    
    font-size: 3.4em;
    cursor: pointer;
    
}

.section-perfil ul{
    list-style: none;
    
}

.section-perfil li{
    display: inline;
}

.section-perfil .card-body{
    min-height: 100px;
}

.personalize{
    height: 170px;
}
.section-perfil .col-md-6{
    min-height: 140PX;
}

.card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.medal-icons{
    display: flex;
    justify-content: center;
}

.medal-icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 2px solid var(--cor08); 
    margin: 0 10px;
}

.medal-icons svg{
    font-size: 3.6em;
}

.card-icon div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 2px solid ;  
}

.circle-icon{
    background-color: var(--cor03);
}

.card-icon svg{
    font-size: 3.6em;
}

.medal-icon div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 2px solid var(--cor08);  
    
}

.bronze{
    background-color: #CD7F32 ;
    flex-direction: column;
}

.prata{
    background-color: #6C6D6E;
    flex-direction: column;
}

.ouro{
    background-color: #DBB000 ;
    flex-direction: column;
}



.medal-icon svg{
    font-size: 3.6em;
}

.info div:nth-child( 2 ){
    cursor: pointer;
} 

.card-footer > h4{
    color: var(--cor03);
    cursor: pointer;
}

.candidatura{
    display: flex;
    align-items: center;
    justify-content: center;
}

.candidatura ul{
    margin: 0px;
    padding: 0px;
    
}

.candidatura li{
    display: flex;
    align-items: center;
    margin: 15px 0px;  
}

.candidatura li:nth-child(odd){
    margin: 0px;
}

.candidatura span{
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #5057CF;
    margin-right: 10px ;
    border-radius: 50px;

    width: 2.5em;
    height: 2.5em;

    font-weight: bold;

    
}

.more-info{
    display: flex;
    align-items: center;
    
}

.more-info div{
    display: flex;
    align-items: center;
}

.more-info h4{
    margin: 5px 0;
    font-size: 1.4em;
}

.more-info:nth-child(1) {
    border-bottom: 1px solid white;
}

.more-info svg{
    font-size: 1.3em;
    margin-right: 10px;
}



