
.containerDetVaga{
        color: white;
        margin-left: 260px;
        margin-top: -740px;
        border-radius: 10px;
        width: 82%;
        height: 1000px;
}

.containerDetalhe{
    margin-left: 50px;
}

.container1{
    margin-top: 30px;
}

.titleDesc{
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}

.btnCandidatar{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45%;
}