.navbar-logo{
    width: 50px;
}

.navbar-fonte{
    width: 125px;
}

@media only screen and (max-width: 500px) {

    .navbar-logo{
        width: 40px;
    }

    .navbar-fonte{
        width: 105px;
    }

    
}