body{
    background-color: black;
}

.upperPart{
    background-image: url("../../../src/assets/image/background.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
}

.red{
    height: 100px;
    background-color: red;
}

.nav{
    font-weight: bold;
}