body{
    background-color: black;
}

.upperPart{
    background-image: url("../../../src/assets/image/background.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
}

.red{
    background-image: url("../../../src/assets/image/backgroundMain.png");
    height: 100vh;
    background-position: right top;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 20px;
}

.nav{
    font-weight: bold;
}