:root{
    --cor01: #01105D;
    --cor02: #050840;
    --cor03: #0713F2;
    --cor04: #F2C307;
    --cor05: #a68400;
    --cor06: #081282;
}

*{
    margin: 0;
    padding: 0;
}

/* Barra de navegação */

.transparent {
    background-color: transparent;
    height: 10vh;
    color: white;
    
    margin: 0 auto;
    
}



.navbar-dark .navbar-nav .nav-link {
    color: white;
}

