*{
    margin: 0;
    padding: 0;
}

/* Barra de navegação */

.transparent {
    background-color: transparent;
    height: 10vh;
    color: white;
    
    margin: 0 auto;
    
}



.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-bar-top{
    background-color: var(--cor02) ;
    height: 80px;
    color: white;
}

.nav-bar-top .nav-link{
    color: white;
}

.nav-bar-top .nav-link:hover{
    font-weight: bold ;
    color: var(--cor08);
    /* A DEFINIR */
}

.logo-nav-bar-top{
    position: absolute;
    left: 10px;
    
}

