*{
    margin: 0;
    padding: 0;
}

/* Barra de navegação */

.transparent {
    background-color: transparent;
    height: 10vh;
    color: white;
    
    margin: 0 auto;
    
}

.transparent .nav-link{
    color: white;
}

.transparent .nav-link:hover{
    font-weight: bold ;
    color: var(--cor08);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}



.nav-bar-top{
    background-color: var(--cor02) ;
    height: 80px;
    color: white;
}



.nav-bar-top .nav-link{
    color: white;
}

.nav-bar-top .nav-link:hover{
    font-weight: bold ;
    color: var(--cor08);
}

.logo-nav-bar-top{
    position: absolute;
    left: 10px;
    
}

.navbar svg{
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar svg:hover{
    transform: scale(1.07);
    transition: all 0.3s ease;
}

