.containerVaga{
    width:1098px;
    height: 60px;
    background-color: dimgray;
    color: white;
}

.infoVaga{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    gap: 90px;
}

.info{
    color: rgb(194, 187, 187);
    padding-top: 3.3px;
}