.button-cadastro{
    background: #090835;
    min-height: 330px; 
    border-radius: 20px;
    /* box-shadow: 10px red; */
}
h3{
  font-size: 60px;
}
p{
    font-size: 35px;
}
h4{
    font-size: 50px;
    font-weight: 400;
}






