*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}


@import "../components/Footer/style.css";
@import "../components/Forms/style.css";
@import "Nav.css";
@import "Main-homepage.css";
@import "Section-homepage.css";
@import "pagIndex.css";
@import "Perfil.css";
@import "Cadastro.css";


