body{
    background-color: black;
}

.upperPart{
    background-image: url("../components/image/background.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
}