body{
    background-color: black;
}

footer{
    background-color: black;
}

.logo-img-footer{
    width: 55px;
}

.fonte-img-footer{
    width: 180px;
}

.line{
    border-top: 1px solid rgb(194, 174, 174);
    
}

.ul-footer{
    padding: 0px;
}

.ul-footer li{
    list-style: none;
    
}

.ul-footer-icons{
    padding: 0px;
}

.ul-footer-icons li{
    list-style: none;
    display: inline;
    padding: 0px 15px;
    font-size: 2.2em;
}