body{
    background-color: black;
}

footer{
    margin-top: 50px;
    background-color: var(--cor50);
    transition: background-color 0.8s ease, color 0.5s ease
}

footer p{
    text-align: justify;
    width: 250px;
    margin:  0 auto;
}

.logo-img-footer{
    width: 55px;
}

.fonte-img-footer{
    width: 180px;
}

.line{
    border-top: 1px solid rgb(194, 174, 174);
    
}

.ul-footer{
    padding: 0px;
}

.ul-footer li{
    list-style: none;
    cursor: pointer;
    
}

.ul-footer li:hover{
    text-decoration: underline;
}

.ul-footer-icons{
    padding: 0px;
}

/* .ul-footer-icons a{
    color: white;
    
}

.ul-footer-icons a:hover{
    color: white;
    
} */

.ul-footer-icons svg{
    transition: all 0.3s ease;
}

.ul-footer-icons svg:hover{
    transform: scale(1.17);
    transition: all 0.3s ease;
    cursor: pointer;
}

.ul-footer-icons li{
    list-style: none;
    display: inline;
    padding: 0px 15px;
    font-size: 2.2em;
}

.link{
    text-decoration: none;
}
