/* *{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#D6D6D8;
} */
.video-selector{
  background-color: #29292E;
  width: 400px;
  float:right;
  padding-right: 90px;
  border-radius: 5px;
}
.title-page{
  color: #FFFFFF;
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;
  display: flex;
}
.title-selector{
  padding-left: 20px;
  display: flex;
}
.content-selector{
  background-color: #202024;
  color: #D6D6D8;
  font-size: 17px;
  display: flex;
  width: 380px;
  float: left;
  padding-right: 100px;
  padding-left: 10px;
  text-align: left;
  border-radius: 5px;
}
.arrow-back{
  padding-top: 5px;
  padding-right: 15px;
}
.written-content{
  display: flex;
  padding-left: 20px;
}
.book{
  padding-bottom: 2px;
  padding-right: 5px;
  font-size: 20px;
}

