*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: var(--cor50);
}

:root{
    --cor01: #01105D;
    --cor02: #050840;
    --cor03: #0713F2;
    --cor04: #F2C307;
    --cor05: #a68400;
    --cor06: #081282;
    --cor07: #21185E;
    --cor50: #000000;
    --bgcolor: #202024;
    
}

/* css components */
/* @import "../src/components/Footer/style.css";
@import "../src/components/Forms/style.css";
@import "../src/components/Header/Nav.css";
@import "../src/components/MainHome/style.css";
@import "../src/components/SectionHome/Section-homepage.css"; */
@import "../src/components/Bootstrap/Bootstrap.css";

/* css pages */
/* @import "../src/pages/Index/index.style.css"; */
/* @import "../src/pages/Perfil/perfil.style.css"; */
/* @import "../src/pages/Cadastrar/cadastrar.style.css"; */
/* @import "../src/pages/Vagas/vagas.style.css"; */


