*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* css components */
@import "../src/components/Footer/style.css";
@import "../src/components/Forms/style.css";
@import "../src/components/Header/Nav.css";
@import "../src/components/MainHome/style.css";
@import "../src/components/SectionHome/Section-homepage.css";

/* css pages */
@import "../src/pages/Index/index.style.css";
@import "../src/pages/Perfil/perfil.style.css";
@import "../src/pages/Cadastrar/cadastrar.style.css";
@import "../src/pages/Vagas/vagas.style.css";


